player-connection-mode=Listen
player-connection-guid=454053158
player-connection-debug=0
player-connection-project-name=Lets go go
player-connection-ip=192.168.112.117
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=48dbd242df3e4f4e860d30b7dd9eab4e
